<% title "Message" %>

<div id="app-project" class="view-wrapper is-webapp messages-page" data-page-title="Message" data-naver-offset="214" data-menu-item="#messages-navbar-menu" data-mobile-item="#home-sidebar-menu-mobile">
  <div class="page-content-wrapper">
    <div class="page-content is-relative">
      <div class="page-content-inner">
        <div class="action-page-wrapper action-page-v2" style="width: 50%">
          <div class="wrapper-outer">
            <div class="wrapper-inner">
              <div class="action-box">
                <div class="box-content">
                  <%= render partial: 'admin/messages/content' %>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>