<%= title "New User" %>

<div id="form-layout-4" class="view-wrapper is-webapp" data-page-title="New User">
  <div class="page-content-wrapper">
    <div class="page-content is-relative">
      <div class="page-content-inner">
        <div class="form-layout is-stacked" style="width: 50%;">
          <%= render partial: 'admin/users/form' %>
        </div>
      </div>
    </div>
  </div>
</div>